html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    background: #E6EAF1;
}

.container {
    width: 400px;
    margin: 120px auto 0;
}

.meplayer-container-mini {
    margin: 0 auto;
}

.meplayer-container {
    margin: 0 auto;
}

button {
    display: block;
    margin: 50px auto;
    color: #777;
    background-color: #FFF;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 120px;
    appearance: none;
    border: none;
}

button:focus {
    outline: none;
}
