@font-face {
  font-family: 'mePlayerFont';
  src: url('fonts/fontello.eot?77128880');
  src: url('fonts/fontello.eot?77128880#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?77128880') format('woff'),
       url('fonts/fontello.ttf?77128880') format('truetype'),
       url('fonts/fontello.svg?77128880#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mePlayerFont';
    src: url('../font/fontello.svg?77128880#fontello') format('svg');
  }
}
*/
.me-player-font {
  font-family: "mePlayerFont";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.me-player-font.icon-play:before { content: '\e801'; } /* '' */
.me-player-font.icon-pause:before { content: '\e802'; } /* '' */
.me-player-font.icon-clock:before { content: '\e803'; } /* '' */
.me-player-font.icon-volume:before { content: '\e804'; } /* '' */
.me-player-font.icon-spin:before { content: '\e800'; } /* '' */
